<th:block th:fragment>
    <div class="container">
        <div class="py-5 d-flex align-content-center justify-content-center">
            <div class="card" style="width: 50%">
                <img th:src="${post.pictureUrl}" class="card-img-top" alt="Image for ">
                <div class="card-body">
                    <h5 class="card-title">[[${#strings.capitalize(post.title)}]]</h5>
                    <p class="card-text">[[${post.description}]]</p>
                    <p class="card-text">Creator: [[${#strings.capitalize(post.creatorUsername)}]]
                        <th:block th:if="${session.user.username!=post.creatorUsername}"><a
                                th:href="@{/messages/new(name=${post.creatorUsername})}" class="btn btn-primary">Send message</a>
                        </th:block>
                    </p>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a th:href="@{/comments/all/{id}(id=${post.id})}" class="btn btn-sm btn-outline-success">Comments</a>
                    </div>
                </div>
                <th:block th:if="${session.user.username == post.creatorUsername}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a th:href="@{/posts/edit(id=${post.id})}" class="btn btn-sm btn-outline-warning">Edit</a>
                            <a th:href="@{/posts/delete(id=${post.id})}"
                               class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </th:block>
                    <th:block th:unless="${session.user.username == post.creatorUsername}">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a th:href="@{/posts/edit(id=${post.id})}" class="btn btn-sm btn-outline-warning">Edit</a>
                            <a th:href="@{/posts/delete(id=${post.id})}"
                               class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </div>
                    </th:block>
                </div>
                <a class="btn btn-primary" th:href="@{/}">Back</a>
            </div>
        </div>
    </div>
</th:block>
