<th:block th:fragment>
    <h2>Create new post</h2>
    <br/>
    <form>
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" class="form-control"  id="post-title-edit" placeholder="Title of post">
        </div>
        <div class="form-group">
            <label for="post-url">Attach image for post</label>
            <input type="text" class="form-control" id="post-url-edit" placeholder="URL for image">
        </div>
        <div class="form-group">
            <label for="post-description">User name</label>
            <input type="text" class="form-control"  id="post-description-edit" placeholder="Post description">
        </div>
        <button type="button" id="button-edit" class="btn btn-primary">Edit post</button>
    </form>
</th:block>