<th:block th:fragment>
    <form th:action="@{/messages/new}" th:object="${createMessageViewModel}" th:method="post">
        <div class="form-group"  th:classappend="${#fields.hasErrors('message')}? 'has-danger'">
            <label for="message">Message</label>
            <input type="text" class="form-control" th:field="*{message}" id="message" placeholder="Type message....">
            <small id="messageHelp"
                   th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Error</small>
        </div>
        <label for="receiver"></label><input type="text"  th:field="*{receiver}" id="receiver" hidden="hidden">
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</th:block>