<th:block th:fragment>

    <th:block th:if="${!allComments.empty}">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">&#35;</th>
                <th scope="col">Comment</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="comment : ${allComments}">
                <tr>
                    <th scope="row"><i style="margin-right: 0.5rem;" class="far fa-comment"></i></th>
                    <td>[[${comment.comment}]]</td>
                    <td>[[${comment.creatorUsername}]]</td>
                    <td>[[${#dates.format(comment.date,'dd-MM-yyyy HH:mm')}]]</td>
                    <th:block th:if="${session.user.userRole =='ADMIN'}">
                        <td><a class="btn btn-outline-danger" th:href="@{/comments/delete/{postId}/{commentId}(postId=${postId},commentId=${comment.id})}">Delete</a></td>
                    </th:block>
                </tr>
            </th:block>
            </tbody>
        </table>
    </th:block>
    <th:block th:unless="${!allComments.empty}">
        <p>No comments yet!</p>
    </th:block>
    <th:block th:fragment>
        <th:block th:include="~{comments/create}"/>
    </th:block>
</th:block>