<th:block th:fragment>
    <th:block th:if="${!allUsers.empty}">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${allUsers}">
                <tr>
                    <th scope="row"><i style="margin-right: 0.5rem;" class="far fa-user"></i></th>
                    <td>[[${user.username}]]</td>
                    <td>[[${user.role}]]</td>
                    <th:block th:if="${user.role!='MODERATOR'}">
                        <td><a class="btn btn-outline-danger" th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
                        </td>
                        <th:block th:if="${user.role!='ADMIN'}">
                        <td><a class="btn btn-outline-secondary" th:href="@{/users/admin/{id}(id=${user.id})}">Upgrade to
                            admin</a></td>
                        </th:block>
                    </th:block>
                </tr>
            </th:block>
            </tbody>
        </table>
    </th:block>
    <th:block th:unless="${!allUsers.empty}">

    </th:block>
</th:block>