<th:block th:fragment>
    <th:block th:unless="${session.user!=null}">
        <th:block th:include="~{_fragments/home-guest}"/>
    </th:block>
    <th:block th:if="${session.user!=null}">
        <th:block th:include="~{_fragments/home-logged-head}"/>
        <div class="py-5 d-flex align-content-center justify-content-center" id="all-posts">
            <div id="loader" class="spinner-border" role="status">
        </div>
        <script src="/js/posts.js"></script>
    </th:block>
</th:block>
