<th:block th:fragment>
    <th:block th:unless="${session.user!=null}">
        <th:block th:include="~{_fragments/home-guest}"/>
    </th:block>
    <th:block th:if="${session.user!=null}">
        <th:block th:include="~{_fragments/home-logged-head}"/>
        <th:block th:if="${posts.empty}">
            <th:block th:include="~{_fragments/home-posts-empty}"/>
        </th:block>
        <th:block th:unless="${posts.empty}">
            <div class="row">
                <div class="col">
                    <h4>All posts</h4>
                </div>
            </div>
            <th:block th:include="~{_fragments/home-posts-all}"/>
        </th:block>
    </th:block>
</th:block>